name: CI-CD for ksctl tags

on:
  workflow_dispatch:
    inputs:
      tag_name:
        required: true
        description: "tag name to tag the ksctl new release"
        type: string

jobs:
  trigger-oci-artifact-build-push:
    uses: ./.github/workflows/docker.yaml
    secrets: inherit
    with:
      image_tag: ${{ inputs.tag_name }}
    permissions:
      packages: write
      contents: read

  trigger-code-scanning:
    uses: ./.github/workflows/code-scanning.yml
    secrets: inherit
    with:
      image_tag: ${{ inputs.tag_name }}

  upgrade-manifests-files-and-tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: ssh for signing
        env:
          SSH_PRIVATE_KEY: ${{secrets.ACTION_BOT_SSH_SIGNING_KEY}}
          SSH_PUB_KEY: ${{secrets.ACTION_BOT_SSH_SIGNING_KEY_PUB}}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          chmod 400 ~/.ssh/id_ed25519
          echo "$SSH_PUB_KEY" > ~/.ssh/id_ed25519.pub
          chmod 400 ~/.ssh/id_ed25519.pub
          cat <<EOF > ~/.gitconfig
          [user]
            name = Dipankar Das
            email = 65275144+dipankardas011@users.noreply.github.com
            signingkey = ~/.ssh/id_ed25519.pub
          [gpg]
            format = ssh
          [commit]
            gpgsign = true
          EOF

      - name: updates ksctl controller-application
        run: |
          make build-installer CONTROLLER=application IMG_TAG_VERSION=${{inputs.tag_name}}

      - name: updates ksctl-component versions to the new tag
        env:
          TAG_NAME: ${{inputs.tag_name}}
        run: |
          set -xe
          cd ksctl-components/manifests
          cp -v versions.go versions.go.bkp
          sed -i "s/\"latest\"/\"${TAG_NAME}\"/g" versions.go

      - name: git add
        run: |
          set -xe
          git add ksctl-components/manifests/controllers/application/deploy.yml \
            ksctl-components/operators/application/config/manager/kustomization.yaml \
            ksctl-components/manifests/versions.go
          git diff --staged

      - name: commit and push
        run: |
          set -xe
          git commit -sS -m "release(artifacts): Updated the ksctl-component versions"
          git show HEAD
          git push

      - name: tag and push
        run: |
          git tag -s -a ${{inputs.tag_name}} -m "version ${{inputs.tag_name}} out :party:"
          git tag
          git push origin tag ${{inputs.tag_name}}

      - name: restore the development configurations
        run: |
          set -xe
          make build-installer CONTROLLER=application IMG_TAG_VERSION=latest
          mv -v ksctl-components/manifests/versions.go.bkp ksctl-components/manifests/versions.go

      - name: git add
        run: |
          set -xe
          git add ksctl-components/manifests/controllers/application/deploy.yml \
            ksctl-components/operators/application/config/manager/kustomization.yaml \
            ksctl-components/manifests/versions.go
          git diff --staged

      - name: commit and push for restoring the dev configurations
        run: |
          set -xe
          git commit -sS -m "[skip ci]!: Restored the Development ksctl-component versions"
          git push

      - name: get the artifacts
        env:
          TAG_NAME: ${{inputs.tag_name}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          curl --fail-with-body -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${GITHUB_TOKEN}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/ksctl/ksctl/releases \
          -d "{\"tag_name\":\"${TAG_NAME}\",\"draft\":false,\"prerelease\":false,\"generate_release_notes\":true}"
