name: codecov
on:
  push:
    paths:
    - 'api/**'
    - 'cli/**'
    branches:
    - main
  pull_request:
    paths:
    - 'api/**'
    - 'cli/**'
    branches:
    - main

jobs:
  codecov:
    name: codecov coverage
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: yarn
        cache-dependency-path: ./website
    - uses: actions/setup-go@v2
      with:
        go-version: '1.20'
    - name: Run coverage (UTILS)
      working-directory: api/utils
      run: |
         go test -race -coverprofile=../../coverage-utils.out -covermode=atomic -v
         cd ../..
    - name: Run coverage (K3S)
      working-directory: api/k8s_distro/k3s
      run: |
        go test -race -coverprofile=../../../coverage-k3s.out -covermode=atomic -v
        cd ../../..
    - name: Run coverage (CIVO)
      working-directory: api/provider/civo
      run: |
         go test -race -coverprofile=../../../coverage-civo.out -covermode=atomic -v
         cd ../../..
    - name: Run coverage (AZURE)
      working-directory: api/provider/azure
      run: |
         go test -race -coverprofile=../../../coverage-azure.out -covermode=atomic -v
         cd ../../..
    - name: Run coverage (LOCAL)
      working-directory: api/provider/local
      run: |
         go test -race -coverprofile=../../../coverage-local.out -covermode=atomic -v
         cd ../../..
    - name: Run coverage (TESTS)
      working-directory: test
      run: |
        rm -rf ~/.ksctl && \
        mkdir -p ~/.ksctl/config/civo/managed && \
        mkdir -p ~/.ksctl/config/civo/ha && \
        mkdir -p ~/.ksctl/config/azure/managed && \
        mkdir -p ~/.ksctl/config/azure/ha
        go test -bench=. -benchtime=1x -race -coverprofile=../coverage-mock-test.out -covermode=atomic -v
        cd ../
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
