name: ci-test-go

on:
  push:
    paths:
      - 'internal/**'
      - 'pkg/**'
      - 'cmd/cli/**'
    branches: [main]
  pull_request:
    paths:
      - 'internal/**'
      - 'pkg/**'
      - 'cmd/cli/**'
    branches: [main]

jobs:
  go-fmt:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: v1.20

      - name: check gofmt pkg dir
        working-directory: pkg
        run: gofmt -s -w -d $(find . -type f -name '*.go' -print)

      - name: check gofmt internal dir
        working-directory: internal
        run: gofmt -s -w -d $(find . -type f -name '*.go' -print)
      # TODO: Add linter
      # - name: check golint
      #   run: $#@$@
